$blue: #00aedc;
$red: #ee3a40;
$yellow: #fbcc31;;
$green: #74c044; ;
$textColor: #424242;
$lightTextColor: #929292;
$borderRadius: 5px;
$boxShadowLight: 0 2px 9px rgba(216,216,216, 0.8);
$boxShadow: 0 0 3px rgb(218, 218, 218);

$inputBorder: 1px solid #ebebeb;
$inputColor: #757575;

$unacticeElementColor: #e4e4e4;

$tableHeadColor: #ebebeb;
$tableHeadTextColor: #9e9e9e;
$tableLinesColor: 1px solid #ddd;

$reportDividerBorder: 1px solid rgb(243, 243, 243);
$reportTabsBorder: 1px solid rgb(236, 236, 236);
$reportTabBackground: rgb(226, 226, 226);

$overlayColor: rgba(0, 0, 0, 0.5);

$sectionBorder: 1px solid #dadada;