@import './global';


/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
    font-family: "TeX Gyre Heros", sans-serif;
    letter-spacing: 0.025em;
    overflow-x: hidden;
    background: rgb(250, 250, 250);
}